{{!-- signup.handlebars --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/homeStyles.css">


</head>

{{> header }} 

<main class="main-content">
  <div class="posts-container">

<h1>Welcome to the Tech Team!</h1>

<div class="post-header">
<form action="/signup" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    </div>
    <button type="submit" class="edit-btn">Sign Up</button>
</form>

<p>Already a user? <a href="/login">Log gn up here</a></p>
</div>

  
</main>
{{> footer }} 
